page-home {

}

.center{
    align-content: center;
    text-align: center;
    align-items: center;
}

.bkgrnd{
    background-color: black;

}

.bkgrnd-purple{
    background-color: darkgoldenrod;
}

.white-color{
    color: aliceblue;
}

.pad{
    padding-left: 30%;
    padding-right: 30%;
}

.mar{
    padding-top: 5%;
    padding-bottom: 5%;
}